#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

RUBY := /usr/bin/ruby1.8

%:
	dh $@

override_dh_auto_build:
	# Add here commands to compile the package.
	$(MAKE) RUBY=$(RUBY)
	#/usr/bin/docbook-to-man debian/dpkg-ruby.sgml > dpkg-ruby.1
	$(RUBY) -C ext ./debian_version/extconf.rb
	make -C ext

override_dh_auto_clean:
	-$(MAKE) clean RUBY=$(RUBY)
	-rm -f debian/examples
	-cd ext; make distclean

DESTDIR=$(CURDIR)/debian/tmp

override_dh_auto_install:
	# mkdir -p `pwd`/debian/dpkg-ruby/`ruby -r mkmf -e 'puts $$libdir'`
	# Add here commands to install the package into debian/dpkg-ruby.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp RUBY=$(RUBY)
	sh ./debian/fixshbang.sh debian/tmp $(RUBY)
	# dpkg.rb as example only
	-rm -f $(CURDIR)/debian/tmp/usr/bin/dpkg.rb
	-rm -f $(CURDIR)/debian/tmp/usr/share/man/man1/dpkg.rb.1*
	make -C ext install DESTDIR=$(DESTDIR) sitelibdir=$(DESTDIR)$(shell ruby1.8 -rrbconfig -e 'puts Config::CONFIG["rubylibdir"]')
	ls -1d examples/* | grep -v CVS > debian/libdpkg-ruby1.8.examples
	echo bin/dpkg.rb >> debian/libdpkg-ruby1.8.examples

override_dh_install:
	dh_install --sourcedir=$(CURDIR)/debian/tmp

override_dh_auto_test:
	@echo no tests during package build
